/* animations */

.removed {
  display: none;
}
.rotating {
  animation: rotating 1s linear infinite;
}
.tape-moving {
  animation: tapeMoving 1s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes tapeMoving {
  from {
    cx: 90.3893;
  }
  to {
    cx: 92.3893;
  }
}
